.title-revera {
  margin-left: 35px;
  margin-top: 25px;
  font-weight: bold;
}

a {
    margin: 10px;
    position: relative;
    top: 35px;
}

.central-image img {
  position: relative;
  margin-top: 2%;
  width: 100%;
  height: auto;
  background-size: 100% 100%;
  filter: grayscale(100%);
}

.img-text {
  position: absolute;
  top: 280px;
  color: white;
  padding: 50px 250px;
  vertical-align: center;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

/*.icon1 {
  font-size: 20px;
  color: white;
}*/

.icons {
  height: 300px;
  padding: 40px 0px;
  background: #ed564b;
  border-top: 5px solid #f96b61;
  border-bottom: 5px solid #f96b61;
  color: white;
  text-align: center;
  font-size: 20px;
}
